<%= render partial: 'partials/search_form' %>
<%= render partial: "partials/form" %>

<ul class="ideas">
  <% if @ideas.empty? %>
    <li>
      <h1>Add an idea!</h1>
    </li>
  <% else %>
    <% @ideas.each do |idea| %>
      <li data-id=<%= idea.id %>>
        <h1 class='idea-title' contenteditable='true'><%= idea.title %></h1>
        <h2 class='idea-body' contenteditable='true'><%= idea.body %></h2>
        <h3><%= idea.quality %></h3>
        <%= link_to 'Delete', '#', class: 'delete-idea' %>
        <%= link_to image_tag('thumbs_up.png', alt: 'thumbs up'), '#', class: 'thumbs_up' %>
        <%= link_to image_tag('thumbs_down.png', alt: 'thumbs down'), '#', class: 'thumbs_down' %>
      </li>
    <% end %>
  <% end %>
</ul>
